.mail-compose {
    position: fixed;
    inset: auto 0 0 auto;

    width: 500px;
    height: 600px;

    background-color: white;
    box-shadow: -8px -8px 15px 0px gray;

}

.mail-compose .header-container {
    height: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-block: 1em;
    padding-inline: 1em;
    background-color: whitesmoke;
}

.mail-compose .header-container button {
    height: 1em;
    border: none;
    background-color: inherit;
    font-weight: bold;

    cursor: pointer;
}

.mail-compose .from-container h2 {
    height: 1em;
    padding-block: 0.75em;
    padding-inline-start: 0.75em;
    font-size: 1.2em;
}

.mail-compose .from-container span {
    padding-inline-start: 1em;
    font-size: 0.75em;
    color: gray;
}

.mail-compose form input {
    border: 0;
    outline: 0;
}

.mail-compose form .to-container, .subject-container {
    display: flex;
    gap: 2em;

    padding-block: 1em;
    margin-inline: 1em;
    border-bottom: 1px solid lightgrey;

}

.mail-compose form .to-container, .subject-container > label {
    font-size: 1.2em;
    font-weight: bold;
}

.mail-compose form .body-container {
    height: 300px;
    padding: 1em;
}

.mail-compose form .body-container textarea {
    height: 100%;
    width: 100%;
    border: 0;
    outline: 0;
}

.mail-compose form button {
    margin-inline: 1.5em;
    padding-block: 0.5em;
    padding-inline: 1em;
    border-radius: 1.5em;
    border: 0;

    background-color:royalblue;
    color: white;
    font-size: 1em;
}

.mail-compose form button:hover {
    cursor: pointer;
    background-color: dodgerblue;
}