.note-modify {
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-block: 2em;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    width: 30em;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.note-add{
    justify-content: center;
}


.note-edit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 10px;

}

.note-modify input {
    border: 0;
    outline: 0;
    margin: 10px;
    background-color: inherit;
}

.buttons,
.types,
.actions {
    display: flex;
    justify-content: space-between;
}

.input-title {
    font-size: larger;
}

.todos-inputs {
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    display: none;
}

.note-modify img {
    max-height: 15em;
    max-width: 20em;
}

.types div {
    margin: 0.5em;
    cursor: pointer;

}

.actions button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0.5em;
}

.types .chosen {
    font-weight: 900
}

.note-modify .add-info{
    width: 100%;
    display: flex;
    justify-content: center;
}

.note-modify img {
    margin: 0 auto;
    
}

.note-modify audio{
    background-color: inherit;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 50px;
}

.note-modify .map{
    margin: 0 auto;
    display: block;
}

.note-modify .marked {
    text-decoration: line-through;
}

.todos-inputs>div {
    display: flex;
    justify-content: space-between;
}

.note-modify .pinned {
    color: #FFA70F;
}

.canvas{
    border: 1px solid black;
    margin: 1em;
    border-radius: 10px;
    background-color: white;
    
}




.canvas-buttons{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    padding-block: 1em;
}

.canvas-buttons button{
    background-color: inherit;
    border: 0;
    cursor: pointer;
    margin-inline: 1em;
}