.note-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-pinned,
.list-unpinned {
    columns: 5 10em;
    column-gap: 0.5em;
    margin-block: 2em; 
}

.list-pinned{
    min-height: 0;
}

.pinned-title{
    margin-inline: 1em;
    margin-block: 0;
}

.message-search-fail{
    margin: 4em;
    font-size: 1em;
}

.user-msg{
    position: fixed;
    top: 0;
    right: -10px;
}