.filter-txt {
    background-color: #F1F3F4;
    width: 20em;
    margin-block: 1em;
    height: 2.5em;
    border-radius: 10px;
    display: flex;
    border-radius: 0 50% 50% 0;


}

.filter-txt input {
    background-color: inherit;
    border: 0;
    outline: 0;
    font-size: 2em;
    border-radius: 10px;
}

.filter-txt i {
    
    margin: 1em;
    
}