.note-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-pinned,
.list-unpinned {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-auto-flow: dense;
    gap: 1em;
    margin-block: 2em;
}

.list-pinned{
    min-height: 0;
}

.pinned-title{
    margin-inline: 1em;
    margin-block: 0;
}