.note {
    background-color: #F39F76;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 15em;
}

.note .content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note .buttons {
    height: 3em;
}

.note:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.note h2 {
    margin: 1em;
}

.note button {
    background-color: inherit;
    border: 0;
    cursor: pointer;
    margin: 1em;
}

.note img,
.note iframe {
    width: 12em;
    height: calc(auto/12em);
}

.note li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em;
}

.note audio{
    width: 80%;
    background-color: inherit;
    border: 1px solid black;
    border-radius: 50px;
}


.note .marked {
    text-decoration: line-through;
}

.note .pinned {
    color: #FFA70F;
}