.mail-index header {
    grid-row: 1;
}

.mail-index aside {
    grid-row: 2;
}

.mail-compose-btn {
    display: flex;
    align-items: center;

    background-color: #f6f8fc;
}

.mail-compose-btn span {
    padding-block: 1em;
    padding-inline: 1.5em;

    display: flex;
    align-items: center;
    
    border-radius: 16px;
    color: #001d35;
    background-color: #c2e7ff;
    cursor: pointer;

    font-size: 14px;
    transition: box-shadow .08s linear,min-width 0.15s cubic-bezier(0.4,0,0.2,1);
}

.mail-compose-btn span:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,.3),0 4px 8px 3px rgba(60,64,67,.15);
}

.mail-compose-btn span img {
    height: 24px;
    width: 24px;
    padding-inline-end: 0.8em;
}