.reviews {
    display: flex;
    background-color: inherit;
    border-left:  1px solid gray;
}

.reviews-input,
.reviews-list {
    margin: 5px;
}


.reviews-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;

}

.reviews-input label {
    margin: 10px;
}

.reviews-input input {
    width: 40%;
}

.reviews-input button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
}


.reviews-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
    height: 60vh;
}

.reviews-list div {
    border: 1px solid black;
    margin: 5px;
    position: relative;
    max-height: 3.5em;
   
}

.reviews-list div p {
    margin: 5px;
    font-size: 0.5em;
}

.reviews-list h4 {
    grid-column: 1/-1;
    margin: 7px;
}

.reviews-list div button{
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 10px;
    font-size: 7px;
    border: 1px solid black;
    background-color: rgb(252, 243, 243);
    z-index: 1;
}

.rating-container div div label{
    font-size: 10px;
}

.rating-container input{
    width: auto;
}
.rating-container button{
    border: 0;
    font-size: 1em;
}
.rating-container{
    display: flex;
    justify-content: space-between;
}
