.app-header {
    background-color: #202020;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header h3 {
    margin: 0;
}

.app-header nav {
    display: flex;
    gap: 1rem;
}

.app-header a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.2rem;
}

.app-header a:hover {
    color: #bbb;
}